<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Outliers</title>
  <meta name="description" content="a model tool">
  <meta name="author" content="Outliers">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}
  {% endblock %}

</head>

<body>
  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ url_for('static', filename='assets/headervideo.mp4')}}" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
        </div>
      </div>
    </div>
  </header>
  {% include 'navbar.html' %}

  <section class="my-5">
    <div class="container">
          {% block page_content %}
          {% endblock %}
      <div>
    </div>
  </section>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Outliers</small>
    </div>
  </footer>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  {% block bottomjs %}
  {% endblock %}
</body>
</html>
